* {
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 62.5%;
}

body {
	background-image: url("../img/fond.png");
	margin: 0 auto;
	line-height: 2;
	font-size: 1.8rem;
	font-family: "Bree Serif", arial;
	font-weight: normal;
	color: #838485;
	text-align: center;
}

.container {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

img {
	width: 100%;
}

h1:before, h2:before, h1:after, h2:after {
	content: " - ";
}

#logo, h1 {
	font-size: 4rem;
}

#logo {
	display: inline-block;
	width: 40px;
	margin-top: 50px;
}

#home {
	 transition: all .2s ease-in-out;
}

#home:hover {
 	transform: scale(1.3);
}

#home a:hover {
	color: #D12659;
}

.navigation {
	transition: all .2s ease-in-out;
}

.navigation:hover {
	transform: scale(0.95);
}

.navigation a:hover {
	color: #D12659;;
}

h2 {
	font-size: 3.5rem;
	color: #D12659;
	padding: 20px 0;
	border-bottom: 2px solid rgba(202,202,202, 0.2);
	margin-bottom: 40px;
}

h3 {
	font-size: 3rem;
	margin: 20px 0;
}

header a {
	font-size: 4rem;
	display: block;
	text-decoration: none;
	color: #838485;
}

nav a {
	font-size: 2rem;
	display: block;
	text-decoration: none;
	color: #838485;
}

nav {
	padding-bottom: 50px;
}

#hello {
	background-image: url("../img/bg_header.png");
	background-size: cover;
	background-position: bottom left;
	color: white;
	padding: 200px 0;
	margin-bottom: 150px;
}

#hello p, h1 {
	margin: 0 auto;
	width: 90%;
	margin-bottom: 50px;
}

#hello a {
	text-decoration: none;
	color: white;
	background-color: #D12659;
	padding: 10px 20px;
	border-radius: 10px;
}

#competences {
	width: 90%;
}

#competences img {
	width: 60%;
}

#services i {
	padding: 20px;
	border-radius: 50%;
	background-color: rgba(202,202,202, 0.2);
	border: 2px solid rgba(202,202,202, 0.8);
}

#services p {
	margin-bottom: 100px;
}

#exemple {
	text-align: left;
}

#exemple h2 {
	text-align: center;
}

#exemple p {
	margin-bottom: 15px;
}

#exemple h3 {
	color: #D12659;
}

.cta {
	text-decoration: none;
	color: #D12659;
	margin-left: 25px;
	padding: 10px 25px;
}

.cta:hover {
	color: white;
	background-color: #D12659;
}

#form p {
	margin-bottom: 25px;
}

input {
	padding: 20px 20px 20px 55px;
	margin-bottom: 5px;
	border: 1px solid #CACACC;
	border-radius: 50px;
	background-color: transparent;
}

#form_prenom {
	background-image: url("../img/bg_form_name.svg");
	background-repeat: no-repeat;
	background-size: 45px;
	background-position: top 7px left 10px;
}

#form_mail {
	background-image: url("../img/bg_form_mail.svg");
	background-repeat: no-repeat;
	background-size: 45px;
	background-position: top 7px left 10px;
}

#form_message {
	background-image: url("../img/bg_form_message.svg");
	background-repeat: no-repeat;
	background-size: 45px;
	background-position: 10px;
}

#envoyer {
	margin-top: 20px;
	color: white;
	background-color: #D12659;
	padding: 15px 25px;
	border: none;
}

#effacer {
	margin-top: 20px;
	margin-bottom: 50px;
	color: white;
	background-color: #8B8B8C;
	padding: 15px 25px;
	border: none;
}

/*------licence-------*/

#licence {
    color: #838485;
    text-align: center;
    padding: 25px;
    display: block;
}

#licence img {
    width: 50px;
    margin: 0 auto;
}

#licence a {
	text-decoration: none;
	margin: 0;
    color: #D12659;
}

@media screen and (min-width: 768px) {

	#exemple img:nth-child(odd) {
		width: 40%;
		display: block;
		float: right;
	}

	#exemple img:nth-child(even) {
		width: 40%;
		display: block;
		float: right;
	}
}